body {
	background: #292a2b !important;
}

#subjectHeader
{
  text-align: center;
  padding-bottom: -10px;
  color: #339fff;
  padding-top: 3%;
  font-size: 60px;
  font-family: Helvetica neue, Arial;
  font-weight: bold;
}
#bodyText
{
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: Helvetica neue, Arial;

}
#missionText
{
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-size: 25px;
  font-family: Helvetica neue, Arial;

}

#pThreeLogo
{
  width:130px;
  height:130px;
  display: block;
  margin-left: auto;
  padding-right: 15px;
  padding-top: 15px;
}

#pThreeBack
{
  width:100px;
  height:100px;
  display: block;
  margin-right: auto;
  padding-left: 15px;
  padding-top: 15px;
}

#MainHeader
{
  text-align: center;
  padding-bottom: -10px;
  color: #339fff;
  padding-top: 3%;
  font-size: 80px;
  font-family: Helvetica neue, Arial;
  font-weight: medium;
  letter-spacing: 3px;
}


.form-login {
  max-width: 395px;
  padding: 15px 35px 45px;
  margin: 0 auto;
	}

.wrapper
{
    text-align: center;
}
