/* Chad Brokaw*/

body {
	background: #292a2b !important;
}

#header1
{
  text-align: center;
  color: white;
  padding-bottom: 1%;
  padding-top: 10%;
  font-size: 60px;
  font-family: "Helvetica neue";
  font-weight: bold;
}

#pThreeLogo
{
  width:130px;
  height:130px;
  display: block;
  margin-left: auto;
  padding-right: 15px;
  padding-top: 15px;
}

#pThreeBack
{
  width:100px;
  height:100px;
  display: block;
  margin-right: auto;
  padding-left: 15px;
  padding-top: 15px;
}


.form-generate {
  max-width: 395px;
  padding: 15px 35px 45px;
  margin: 0 auto;
	}

.buttonGenerate
{
    background-color: white;
    border: none;
    color: #292a2b;
    padding: 16px 32px;
    padding-left: 85px;
    padding-right: 85px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Helvetica neue";
    font-weight: bold;
    margin: 8px 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid #292a2b;
}

.wrapper
{
    text-align: center;
}
