/* Chad Brokaw*/
body {
	background: #292a2b !important;
}

#header1
{
  text-align: center;
  color: #339fff;
  padding-bottom: 1%;
  padding-top: 10%;
  font-size: 60px;
  font-family: Helvetica neue, Arial;
  font-weight: bold;
}

#pThreeLogo
{
  width:130px;
  height:130px;
  display: block;
  margin-left: auto;
  padding-right: 15px;
  padding-top: 15px;
}

#pThreeBack
{
  width:100px;
  height:100px;
  display: block;
  margin-right: auto;
  padding-left: 15px;
  padding-top: 15px;
}


.form-login {
  max-width: 395px;
  padding: 15px 35px 45px;
  margin: 0 auto;
	}

.form-control
{
  	font-size: 16px;
    font-family: Helvetica neue, Arial;
    height: auto;
    padding: 10px;
}

#text
{
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

#playlist
{
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
}

.buttonLogin
{
    background-color: #292a2b;
    border: none;
    color: #339fff;
    padding: 16px 32px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica neue, Arial;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid #292a2b;
}

.buttonLogin:hover
{
    color: #339fff;
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
    font-family: Helvetica neue, Arial;
    border: 2px solid #339fff;
    border-radius: 7px;
}

.wrapper
{
    text-align: center;
}

#modalButton
{
	color: white;
	padding-top: -25px;
	font-size: 13px;
	cursor: pointer;
	font-family: Helvetica neue, Arial;
}

/*Credit to W3 schools for helping create the modal*/

.modal
{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 5%;
}



.close
{
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus
{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-header
{
	padding: 2px 16px;
	background-color: #339fff;
	color: white;
}

.modal-body
{
	padding: 2px 16px;
}

.modal-footer
{
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
	text-align: left;
}

.modal-content
{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.6s;
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}
